/** RESETEO **/
*, *::before, *::after {
    box-sizing: border-box;
}

  * {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/** RESETEO **/
body{
    min-height: 100vh;
}

::placeholder{
    color: #000;
}

.lg_logo{
    
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 10px;
}

.lg_info{
    
    font-weight: bold;
    font-size: 25px;
    line-height: 1;
    margin-bottom: 30px;
}

.lg_nuevo{
    color: #fff;
    text-decoration: none;
    line-height: 0;

    span{
        margin: 7px 0px 0px 0px;
        color: #000;
        display: block;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.lg_titulo_sesion{
    color: #00abeb;
    font-size: 35px;
    

    p{
        color: #000;
        display: inline;
    }
}


.lg_input{
    background-color: #e6e6e6;
    border: #e6e6e6 1px solid;
    border-radius: 2%;
    padding: 5px 5px 5px 5px;
    margin: 5px;
    width: 100%;
}

.lg_problemas{
    color: #000;
    font-size: 13px;
    a{
        color: #00abeb;
        text-decoration: none;
        font-weight: bold;
    }
}

.lg_btn_iniciar{
    background-color: #000;
    color: #fff;
    border: #000 1px solid;
    border-radius: 18px;
    padding: 7px 20px;
    margin-top: 10px;
    text-decoration: none;

}

.lg_flexbox{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.lg_lado_a{
    display: flex;
    flex-direction: column;
    width: 23rem;
    align-items: stretch;
}

.lg_bienvenida{
    background-color: #00abeb;
    color: #fff;
    padding: 9rem 3rem 9rem 2rem;
    height: 100%;

}

.lg_registrar{
    background-color: #1e1e1e;
    color: #fff;
    padding: 2.4rem 1rem 2.4rem 2rem;
    a{
        color: #fff;
        text-decoration: none;
        line-height: 0;
    }
    span{
        color: #00abeb;
        text-decoration: none;
        display: block;
        margin-top: 7px;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
}